section {
    min-height: 100vh;
    padding: 10rem 12%;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background-color: var(--second-bg-color);
}

.about-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.about-content h2 {
    font-size: 7rem;
    text-align: left;
}

.about-content p {
    font-size: 1.8rem;
}

.about-content .btn {
    margin: 3rem 0;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color);
}

@media(max-width:1024px) {
    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about h2 {
        text-align: center;
        margin: 2rem 0;
    }

    .about img {
        width: 52vw;
    }
}