<section class="about" id="about">
    <div class="about-img">
        <img src="/assets/profile.jpg" alt="">
    </div>

    <div class="about-content">
        <h2>About <span>Me</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ipsa illo at laboriosam, esse corporis ea
            aspernatur natus quaerat nostrum voluptatibus reiciendis fugiat magni in, blanditiis enim. Dolore, quibusdam
            totam?</p>
        <a href="#" class="btn">Read more</a>
    </div>
</section>