<section class="home" id="home">
  <div class="home-content">

    <h1>Hi, it's <span>Olivia</span></h1>
    <h3>I'm a <span>Software Engineer</span></h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit magni deleniti, iure eius, dolores, cumque enim
      dolorum eaque tempora quas quibusdam ullam nihil? Rerum quo nam sed cum odio obcaecati!</p>

    <div class="social-icons">
      @for (instance of socialList; track instance.icon) {
      <app-social-icon [socialdom]="instance"></app-social-icon>
      }
    </div>

    <div class="btn-group">
      <a href="#" class="btn">Hire</a>
      <a href="#contact" class="btn">Contact</a>
    </div>

  </div>

  <div class="home-img">
    <img src="/assets/profile.jpg" alt="">
  </div>
</section>