.services-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 600px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}

.services-box:hover {
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5xp solid var(--main-color);
    transform: scale(1.03);
}

.services-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.services-info fa-icon {
    font-size: 4rem;
}

.services-info h4 {
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}

.services-info p {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
}